# Project requirements for PadcareGPT
fastapi
uvicorn
langchain
langgraph
langchain-community
langchain-google-vertexai
chromadb
pypdf
unstructured
python-docx
openpyxl
python-multipart
langchain_google_genai
