# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
ENV/

# Ignore environment variables and config
.env
.env.*

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore test and coverage files
.coverage
htmlcov/
.tox/

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore Docker files
Dockerfile*
.dockerignore

dist/
build/
*.egg-info/

# Ignore logs
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
